<!doctype html>
<html lang="pl">
    <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <title>Strona o mnie</title>
    {% endblock %}
    </head>
    <body>
        <h1 class="banner">Witaj na mojej stronie domowej</h1>
        <img src="{{url_for('static',filename='me.jpg')}}" / width="120" 
        height="200">
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
